
body{
    
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #F5F5F5;
}

.container{
   
    width:800px;
    height:500px;
    display:flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);

}

.container-form{
   
    width: 100%;
    overflow:hidden;

}

.container-form form{
   
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}

.container-input{
    display:flex;
    flex-direction: column;
    margin-bottom: 40px;
    position:relative;
    gap:8px;
    background-color: #F5F5F5;
}

.container-input label{
    font-size: 14px;
    margin-bottom: 5px;
    color:#15173D;
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
}

.container-form h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #DE1A58;
}

.container-input input{
    display:flex;
    height: 20px;
    width: 100%;
    padding: 10px;
    border: 2px solid #6594B1;
    border-radius: 6px;
    outline: none;
}

.container-form a{
    color:gray;
    font-size:14px;
    margin-bottom: 20px;
    margin-top: -30px;
    margin-left: 40%;
}

.buttom{
    width: 160px;
    height: 45px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color:#F5F5F5;
    background-color: #6594B1;
}


.sign-up{
    transform: translateX(-100%);
}

.container.toggle .sign-in{
    transform: translateX(100%);
}

.container.toggle .sign-up{
    transform: translateX(0);
}

.container-welcome{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #15173D;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 10% 0 0 10%;
}

.container.toggle .container-welcome{
    transform: translateX(0);
    border-radius: 0 10% 10% 0;
}

.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 0 50px;
    color:#F5F5F5;
    transition: transform 0.5s ease-in-out;
}

.welcome-sign-in{
    transform: translateX(100%);
}

.container-welcome h3{
    font-size: 40px;
}

.container-welcome .buttom{
    border:2px solid #F5F5F5;
}

.container.toggle .welcome-sign-in{
    transform: translateX(0);
}

.container.toggle .welcome-sign-up{
    transform: translateX(-100%);
}
